* {
    box-sizing: border-box;
}
html {
    font-size: 20px;
    color: #333333;
}
body {
    font: 1rem 'Ubuntu', sans-serif;
    background-color: #fdde7e;
}
.wrap {
    max-width: 1200px;
    padding: 0 30px;
    margin: auto;
}
.clearfix {
    content: '';
    display: table;
    clear: both;
}
.hide__title {
    position: absolute;
    top:-9999px;
    left: -9999px;
}
h3 {
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 4.5rem;
    color: #02995b;
    padding-top: 40px;
    margin: 0;
    text-align: center;
    display: block;
}
h4 {
    font-size: 2.8rem;
    text-align: center;
    margin: 0;
    padding: 25px 0 20px 0;
}
p {
    text-align: center;
    margin: 0;
}
/*=================content
                =============*/
.content__menu {
    background: #ffffff;
    border-radius: 3px;
    box-shadow: 2px 2px 2px -1px #d4ba6a;
    margin: 80px 30px 80px 0;
    float: left;
    width: 360px;
    padding: 1px 0;
    position: relative;
}
.content__price::after {
    content: "";
    display: block;
    height: 135px;
    width: 135px;
    background: url(../i/sprite.png) no-repeat;
    margin: auto;
}
.content__price_gold::after {
     background-position: 0 -135px;
}
.content__price_silver::after {
    background-position: 0 -268px;
}
.content__menu_gold {
    margin: 50px 30px 50px 0;
    padding: 30px 0;
}
.content__menu_silver {
    margin-right: 0;
}
.content__menu p:nth-of-type(2) {
    padding-bottom: 30px;
}
/*=================adaptive
                =============*/
@media (min-width:319px) {
    .wrap {
        padding: 0 1px;
        max-width: 100vh;
    }
    .content__menu {
        float: none;
        display: inline-block;
        margin: 50px 0;
        width: 98%;
    }
    .content__menu_gold {
        margin-bottom: 0;
        margin-top: 0;
    }
}
@media (min-width: 768px) {
    /* Стили применят все устройства начиная от 768px  */
    .wrap {
        min-width: 768px;
        padding: 0 7px;
        margin: auto;
    }
    .content__menu {
        width: 360px;
        margin: 80px 30px 80px 0;
    }
    .content__menu_gold {
        float: right;
        margin: 50px 0;
        padding: 30px 0;
    }
    .content__menu_silver {
        margin-left: 25%;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
    }
}
    @media (min-width: 780px) {
    .wrap {
        padding: 0 30px;
    }
}
    @media (min-width: 1140px) {
    /* Стили применят все устройства начиная от 1140px  */
    .wrap {
        min-width: 1140px;
        max-width: 1200px;
        padding: 0 30px;
    }
    .content__menu {
        float: left;
        margin: 80px 30px 80px 0;
    }
    .content__menu_gold {
        margin: 50px 30px 50px 0;
     }
    .content__menu_silver {
        margin: 80px 0;
    }
}
