* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 20px;
    color: #333333;
}
body {
    font: 1rem 'Ubuntu', sans-serif;
    background-color: #fdde7e;
}
.wrap {
    max-width: 1200px;
    padding: 0 30px;
    margin: auto;
}
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
.hide__title {
    position: absolute;
    top:-9999px;
    left: -9999px;
}
h3 {
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 4.5rem;
    color: #02995b;
    padding-top: 40px;
    margin: 0;
    text-align: center;
    display: block;
}
h4 {
    font-size: 2.8rem;
    text-align: center;
    margin: 0;
    padding: 25px 0 20px 0;
}
p {
    text-align: center;
    margin: 0;
}
/*=================content
                =============*/
.content__menu {
    background: #ffffff;
    border-radius: 3px;
    box-shadow: 2px 2px 2px -1px #d4ba6a;
    padding: 1px 0;
}
.content__price::after {
    content: "";
    display: block;
    height: 135px;
    width: 135px;
    background: url(../i/sprite.png) no-repeat;
    margin: auto;
}
.content__price_gold::after {
     background-position: 0 -135px;
}
.content__price_silver::after {
    background-position: 0 -268px;
}

/*=================adaptive
                =============*/
@media (min-width:319px) {
    .content__menu {
        margin: 80px 1%;
        width: 96%;
        padding-bottom: 35px;
    }
}
@media (min-width: 768px) {
    /* Стили применят все устройства начиная от 768px  */
    .content__menu {
        float: left;
    }
    .content__menu_bronze {
        width: 46%;
        margin-right: 3%;
    }
    .content__menu_gold {
        width: 46%;
    }
    .content__menu_silver {
        width: 46%;
        margin-left: 25%;
        margin-top: 0;
    }
}
@media (min-width: 1140px) {
    /* Стили применят все устройства начиная от 1140px  */
    .content__menu {
        width: 30%;
        margin: 80px 1% 50px;
        margin-right: 3%;
    }
    .content__menu_gold {
        margin-top: 50px;
        padding-top: 30px;
    }
    .content__menu_gold p:nth-of-type(2){
        padding-bottom: 30px;
    }
    .content__menu_silver {
         margin-right: 0;
    }
}
